.esqueceu-senha-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    padding: 0 4em;
    justify-content: center;
    align-items: center;
}

.esqueceu-senha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: min(500px, 90vw);
    max-width: 500px;
    gap: 1em;
    padding: 3em;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #e5e7eb;
}

.esqueceu-senha-title {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.esqueceu-senha-title p {
    font-size: 0.95em;
    color: #697077;
}

.esqueceu-senha-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.esqueceu-senha-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 0.5em;
    font-weight: 300;
}

.esqueceu-senha-input input {
    background-color: #F2F4F8;
    border-radius: 24px;
    height: 2.7em;
    width: 100%;
    padding: 0 1em;
    border: none;
    outline: none;
}

.esqueceu-senha-input input:focus {
    border: 2px solid #3b82f6;
}

.esqueceu-senha-voltar {
    align-self: center;
    text-align: center;
    color: #3b82f6;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
    transition: color 0.3s;
}

.esqueceu-senha-voltar:hover {
    color: #2563eb;
}

.esqueceu-senha-botao {
    margin-top: 0.5em;
}

@media (max-width: 1000px) {
    .esqueceu-senha-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em;
        background-position: center;
    }
    
    .esqueceu-senha-container {
        width: 80vw;
        padding: 2em 1em;
        gap: 0.8em;
    }
    
    .esqueceu-senha-title p,
    .esqueceu-senha-voltar {
        font-size: 0.95em;
    }
    
    .esqueceu-senha-input input {
        height: 2.5em;
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .esqueceu-senha-container {
        width: 90vw;
        padding: 1.5em 1em;
        gap: 0.7em;
    }
    
    .esqueceu-senha-title p,
    .esqueceu-senha-voltar {
        font-size: 0.9em;
    }
    
    .esqueceu-senha-input input {
        height: 2.3em;
        font-size: 0.95em;
    }
}