@import 'tailwindcss';

.paciente-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 32%;
    min-height: 10vh;
    background-color: var(--WhiteFy);
    border-radius: 0.5em;
    gap: 0.5em;
    border: var(--LightGrayFy) 1px solid;

    img{
        border-radius: 1em;
        width: 5em;
        height: 5em;
        object-fit: cover;
        overflow: hidden;
    }

    div{
        width: 100%;
        gap: 0.5em;
    }

    .div-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
    }

    .div-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
    }

}