@import 'tailwindcss';



.btn_agendamento {
    background-color: var(--WhiteFy);
    color: var(--DarkBlueFy);
    padding: 0em 1em;
    font-size: medium;
    cursor: pointer;
    border-radius: 12em;
    border: var(--WhiteFy) 2px solid;
    transition: ease-in-out 0.3s;
}

.btn_agendamento:hover {
    background-color: var(--DarkBlueFy);
    color: var(--WhiteFy);

    border: var(--DarkBlueFy) 2px solid;
}


.calendario-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: var(--BlackFy) 2px solid;
    background-color: var(--LightGrayFy);
}

.calendario-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.25em;
    overflow-y: auto;
}

.calendario-table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: green;
    overflow-y: auto;
}



.calendario-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.25em 1em;
    gap: 1em;
    /* border: 1px solid var(--DarkBlueFy); */
    background-color: var(--WhiteFy);
    border-left: 0.5em solid var(--WhiteFy);
}



.div-calendario-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0em;
    gap: 1em;
    background-color: var(--WhiteFy);
}


@media (max-width: 1668px) {
    .calendario-card-header span {
        font-size: 0.8em;
    }
}

@media (max-width: 1400px) {
    @media (max-width: 1668px) {
        .calendario-card-header span {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 1300px) {
    @media (max-width: 1668px) {
        .calendario-card-header span {
            font-size: 0.6em;
        }
    }
}